{% load static %}
{% load auto_navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

    <meta charset="utf-8">

    <title>
      {% block title %}
        Movies
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'movie_app/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'movie_app/css/styles.css' %}">

    <script src="{% static 'movie_app/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'movie_app/js/script.js' %}"></script>

    {% block add_head_eleman %}{% endblock add_head_eleman %}

    <!-- Demo styles -->
    <style>
      [_] {
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, .7);
        position: relative;
        z-index: 9999;
        pointer-events: auto;
        border: 3px dashed deepskyblue;
      }

      [_] > * {
        border: 1px dashed lawngreen;
      }

      {% block style %}{% endblock %}
    </style>
  {% endblock head %}

</head>

<body>
{% block body %}

  <div class="wrapper">

    <header class="header">
      {% block header %}
        <figure class="logo">
          <a href="{% url 'movie_app:home' %}"><img src="{% static 'movie_app/img/logo.png' %}" alt="Logo"></a>
        </figure>
        <nav class="menu">
          <ul>
            {% auto_nav %}
            <li class="mobsearch">
              <form class="mobform" method="get" action="{% url 'movie_app:search_list' %}">
                <input type="text" name="q" class="mobsearchfield" value="{{ request.GET.q }}" placeholder="Search...">
                <input type="submit" value="" class="mobsearchsubmit">
              </form>
            </li>
          </ul>
        </nav>
        <form class="search" action="{% url 'movie_app:search_list' %}" method="get">
          <input type="text" name="q" value="{{ request.GET.q }}" class="searchfield" placeholder="Search...">
          <input type="submit" value="" class="searchsubmit">
        </form>
        <div class="toggle">
          <img src="{% static 'movie_app/img/menu.svg' %}">
        </div>
        <div class="menu">
          <ul>
            <li>
              <a href="/admin">admin</a>
            </li>
            <li>
              <a href="{% url 'account:login' %}">login</a>
            </li>
            <li>
              <a href="{% url 'account:logout' %}">logout</a>
            </li>
          </ul>
        </div>
      {% endblock header %}
    </header>

    <!-- Swiper -->

    {% block slider %}
    {% endblock slider %}

    <main class="content">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="footer">
      {% block footer %}
        <div class="copyright">
          <p>Copyright &copy 2017 www.focusoncode.com</p>
        </div>
        <div class="footermenu">
          <ul>
            <li>
              <a href="{% url 'movie_app:home' %}">Home</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
            <li>
              <a href="terms.html">Terms and conditions</a>
            </li>
          </ul>
        </div>
        <div class="tags">
          <ul>
            <li>Watch Free Movies Trailers</li>
            <li>Movie Trailers</li>
            <li>English Subtitled Movies Trailers</li>
            <li>Latest Movies Trailers</li>
            <li>New Movies Trailers</li>
          </ul>
        </div>
      {% endblock footer %}
    </footer>

    {% block script %}
    <!-- Swiper JS -->
      <script src="{% static 'movie_app/js/swiper.min.js' %}"></script>

    <!-- Initialize Swiper -->
      <script>
          $(document).ready(function () {


              var swiper = new Swiper(".homeslider > .swiper-container", {
                  pagination: ".swiper-pagination",
                  paginationClickable: true,
                  preventClicks: false,
                  preventClicksPropagation: false,
                  effect: "fade",
                  breakpoints: {
                      320: {
                          height: 200
                      },

                      480: {
                          height: 300
                      },

                      768: {
                          height: 400
                      },
                      1024: {
                          height: 500
                      }
                  }
              });

              var recentswiper = new Swiper(".recentslider > .swiper-container", {
                  nextButton: ".recent-next",
                  prevButton: ".recent-prev",
                  slidesPerView: 8,
                  paginationClickable: true,
                  preventClicks: false,
                  preventClicksPropagation: false,
                  spaceBetween: 10,
                  breakpoints: {
                      320: {
                          slidesPerView: 3,
                          spaceBetween: 5
                      },

                      480: {
                          slidesPerView: 3,
                          spaceBetween: 5
                      },

                      768: {
                          slidesPerView: 5,
                          spaceBetween: 5
                      },
                      1024: {
                          slidesPerView: 6,
                          spaceBetween: 10
                      }
                  }
              });

              var mostswiper = new Swiper(".mostslider > .swiper-container", {
                  nextButton: ".most-next",
                  prevButton: ".most-prev",
                  slidesPerView: 8,
                  paginationClickable: true,
                  preventClicks: false,
                  preventClicksPropagation: false,
                  spaceBetween: 10,
                  breakpoints: {
                      320: {
                          slidesPerView: 3,
                          spaceBetween: 5
                      },

                      480: {
                          slidesPerView: 3,
                          spaceBetween: 5
                      },

                      768: {
                          slidesPerView: 5,
                          spaceBetween: 5
                      },
                      1024: {
                          slidesPerView: 6,
                          spaceBetween: 10
                      }
                  }
              });

              var topswiper = new Swiper(".topslider > .swiper-container", {
                  nextButton: ".top-next",
                  prevButton: ".top-prev",
                  slidesPerView: 8,
                  paginationClickable: true,
                  preventClicks: false,
                  preventClicksPropagation: false,
                  spaceBetween: 10,
                  breakpoints: {
                      320: {
                          slidesPerView: 3,
                          spaceBetween: 5
                      },

                      480: {
                          slidesPerView: 3,
                          spaceBetween: 5
                      },

                      768: {
                          slidesPerView: 5,
                          spaceBetween: 5
                      },
                      1024: {
                          slidesPerView: 6,
                          spaceBetween: 10
                      }
                  }
              });

          });


      </script>
    {% endblock script %}

  </div>

{% endblock body %}
</body>
</html>