{% extends 'movie_app/list_views_base.html' %}
{% load static %}


{% block content_list %}
  <h3>{{ genre }}</h3>
  <div class="movies">
    {% for object in object_list %}
      <div class="mov">
        <a href="{% url 'movie_app:movie_detail' object.pk object.slug %}">
          <img src="{{ object.cover.url }}">
          <h2 class="movietitle">{{ object.name }}</h2>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content_list %}
