{% extends 'movie_app/base.html' %}
{% load static %}


<!-- Swiper -->
{% block slider %}
  <div class="homeslider">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        {% for slider_object in slider_object_list %}
          <div class="swiper-slide">
            <img src="{{ slider_object.movie_model.slider_pic.url }}">
            <div class="caption">
              <div class="captioninside">
                <h3>{{ slider_object.movie_model.name }}</h3>
                <p>{{ slider_object.movie_model.description }}</p>
                <a href="{% url 'movie_app:movie_detail' slider_object.movie_model.pk slider_object.movie_model.slug %}"
                   class="playbutton">Play</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
{% endblock slider %}
{% block content %}
  <section class="panel">
    <h2>Recently Added</h2>
    <div class="recentslider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for object in object_list %}
            <div class="swiper-slide">
              <a href="{% url 'movie_app:movie_detail' object.pk object.slug %}"><img src="{{ object.cover.url }}">
                <h3 class="hometitle">{{ object.name }}</h3></a>
            </div>
          {% endfor %}
          <div class="swiper-slide">
            <a href="movie_list.html"><img src="{% static 'movie_app/img/others.png' %}"></a>
          </div>
        </div>
        <div class="nextdirection recent-next">
          <img src="{% static 'movie_app/img/right-arrow.svg' %}">
        </div>
        <div class="leftdirection recent-prev">
          <img src="{% static 'movie_app/img/left-arrow.svg' %}">
        </div>
      </div>
    </div>
  </section>
  <section class="panel">
    <h2>Most Watched</h2>
    <div class="mostslider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for object in object_list %}
            <div class="swiper-slide">
              <a href="{% url 'movie_app:movie_detail' object.pk object.slug %}"><img src="{{ object.cover.url }}">
                <h3 class="hometitle">{{ object.name }}</h3></a>
            </div>
          {% endfor %}
          <div class="swiper-slide">
            <a href="movie_list.html"><img src="{% static 'movie_app/img/others.png' %}"></a>
          </div>
        </div>
        <div class="nextdirection most-next">
          <img src="{% static 'movie_app/img/right-arrow.svg' %}">
        </div>
        <div class="leftdirection most-prev">
          <img src="{% static 'movie_app/img/left-arrow.svg' %}">
        </div>
        <!-- Add Pagination -->
      </div>
    </div>
  </section>
  <section class="panel">
    <h2>Top Rated</h2>
    <div class="topslider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for object in object_list %}
            <div class="swiper-slide">
              <a href="{% url 'movie_app:movie_detail' object.pk object.slug %}"><img src="{{ object.cover.url }}">
                <h3 class="hometitle">{{ object.name }}</h3></a>
            </div>
          {% endfor %}
          <div class="swiper-slide">
            <a href="movie_list.html"><img src="{% static 'movie_app/img/others.png' %}"></a>
          </div>
        </div>
        <div class="nextdirection top-next">
          <img src="{% static 'movie_app/img/right-arrow.svg' %}">
        </div>
        <div class="leftdirection top-prev">
          <img src="{% static 'movie_app/img/left-arrow.svg' %}">
        </div>
        <!-- Add Pagination -->
      </div>
    </div>
  </section>
{% endblock content %}
<!-- Swiper JS -->
