{% extends 'movie_app/base.html' %}
{% load static %}


{% block content %}
  <section class="centered">
    {% block content_list %}
    {% endblock content_list %}

    {% block paginator_block %}
      {% if is_paginated %}
        <nav class="pagination">
          <ul>
            {# first btn #}
            {% if page_obj.number != 1 %}
              <li><a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">&laquo;</a></li>
            {% endif %}

            {# Prev btn #}
            {% if page_obj.has_previous %}
              <li><a
                  href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}">&lsaquo;</a>
              </li>
            {% endif %}

            {# first on more prev #}
            {% if page_obj.number >= 4 %}
              <li><a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">1</a></li>
              <li><a href="">...</a></li>
            {% endif %}

            {# prev number #}
            {% if page_obj.has_previous %}
              <li><a
                  href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
              </li>
            {% endif %}

            {# current #}
            <li><a href="" class="menuactive">{{ page_obj.number }}</a></li>

            {# next number #}
            {% if page_obj.has_next %}
              <li><a
                  href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
              </li>
            {% endif %}

            {# first on more prev #}
            {% if page_obj.number <= page_obj.paginator.num_pages|add:"-3" %}
              <li><a href="">...</a></li>
              <li><a
                  href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
              </li>
            {% endif %}

            {# Next btn #}
            {% if page_obj.has_next %}
              <li><a
                  href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}">&rsaquo;</a>
              </li>
            {% endif %}

            {# last btn #}
            {% if page_obj.number != page_obj.paginator.num_pages %}
              <li><a
                  href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.paginator.num_pages }}">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    {% endblock paginator_block %}
  </section>
{% endblock content %}