{% extends "movie_app/base.html" %}
{% load static %}


{% block body %}
  <div class="wrapper">

    <header class="header">
      <figure class="logo"><a href="index.html"><img src="img/logo.png" alt="Logo"></a></figure>

      <nav class="menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a>Genres</a>
            <ul>
              <li><a href="genre.html">Action</a></li>
              <li><a href="genre.html">Comedy</a></li>
              <li><a href="genre.html">Drama</a></li>
              <li><a href="genre.html">Romance</a></li>
            </ul>
          </li>
          <li><a>Year</a>
            <ul>
              <li><a href="year.html">2017</a></li>
              <li><a href="year.html">2016</a></li>
              <li><a href="year.html">2015</a></li>
              <li><a href="year.html">2014</a></li>
            </ul>
          </li>
          <li><a>Language</a>
            <ul>
              <li><a href="language.html">English</a></li>
              <li><a href="language.html">German</a></li>
            </ul>
          </li>
          <li><a href="movie_list.html">Most Watched</a></li>
          <li class="mobsearch">
            <form class="mobform">
              <input type="text" name="s" class="mobsearchfield" placeholder="Search...">
              <input type="submit" value="" class="mobsearchsubmit">
            </form>
          </li>
        </ul>
      </nav>
      <form class="search">
        <input type="text" name="s" class="searchfield" placeholder="Search...">
        <input type="submit" value="" class="searchsubmit">
      </form>

      <div class="toggle"><img src="img/menu.svg"></div>
    </header>

    <main class="content">
      <section class="centered">
        <h3>Most Watched Movies</h3>
        <div class="movies">
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/9.jpg">
              <h2 class="movietitle">The Space Between Us</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/7.jpg">
              <h2 class="movietitle">Transformers</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/8.jpg">
              <h2 class="movietitle">XXX</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/6.jpg">
              <h2 class="movietitle">Fifty Shades Darker</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/9.jpg">
              <h2 class="movietitle">The Space Between Us</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/9.jpg">
              <h2 class="movietitle">The Space Between Us</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/7.jpg">
              <h2 class="movietitle">Transformers</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/8.jpg">
              <h2 class="movietitle">XXX</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/6.jpg">
              <h2 class="movietitle">Fifty Shades Darker</h2>
            </a>
          </div>
          <div class="mov">
            <a href="movie_detail.html">
              <img src="images/9.jpg">
              <h2 class="movietitle">The Space Between Us</h2>
            </a>
          </div>
        </div>
        <nav class="pagination">
          <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="menuactive">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">21</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>
      </section>

    </main>

    <footer class="footer">
      <div class="copyright"><p>Copyright &copy 2017 www.focusoncode.com</p></div>
      <div class="footermenu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="terms.html">Terms and conditions</a></li>
        </ul>
      </div>
      <div class="tags">
        <ul>
          <li>Watch Free Movies Trailers</li>
          <li>Movie Trailers</li>
          <li>English Subtitled Movies Trailers</li>
          <li>Latest Movies Trailers</li>
          <li>New Movies Trailers</li>

        </ul>
      </div>

    </footer>


  </div>
{% endblock %}
