{% extends 'movie_app/base.html' %}
{% load static %}


{% block content %}
  {% if object.is_gold_movie %}
    {% if user.is_gold_user or user.is_superuser %}
      <div class="single">

    <section class="trailer">
      <h3>Trailer</h3>
      <div class="trailer_frame">
        <iframe width="853" height="480"
                src="https://www.youtube.com/embed/a48xeeo5Vnk?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </section>

    <section class="movie">
      <img src="{{ object.cover.url }}">
      <ul>
        <li>{{ object.name }}</li>
        <li>{{ object.description|striptags }}</li>
        <li><a href="genre.html">{{ object.get_genres_display }}</a></li>
        <li>
          {% for cast in object.cast.all %}
            <a href="cast.html">{{ cast }}</a>
            {% if not forloop.last %}
              ,
            {% endif %}

          {% empty %}
              No cast yet.
          {% endfor %}
        </li>
        <li>{{ object.view }}</li>
        <li>publisher: {{ object.publisher.get_full_name }}</li>
      </ul>
    </section>
    <section class="links">
      <h3>Links</h3>
      <ul class="dlinks">
        <li><a>Download</a></li>
        <li><a href="{{ object.download_link }}">Link1</a></li>
      </ul>
      <ul class="wlinks">
        <li><a>Watch</a></li>
        <li><a href="{{ object.watch_link }}">Link1</a></li>
      </ul>
    </section>

    <section class="related">
      <h3>Related movies</h3>

      {% for related_movie in related_movies %}

        <div class="relatemovie">
          <a href="#"><img src="{{ related_movie.cover.url }}"></a>
          <a href="#"><span class="relatedname">{{ related_movie.name }}</span></a>
        </div>

      {% endfor %}

    </section>

    <section class="comments">
      <h3>Comments</h3>
    </section>
  </div>
    {% else %}
      <div class="single">
      <p>you are not gold or superuser</p>
      </div>
    {% endif %}
  {% else %}
    <div class="single">

    <section class="trailer">
      <h3>Trailer</h3>
      <div class="trailer_frame">
        <iframe width="853" height="480"
                src="https://www.youtube.com/embed/a48xeeo5Vnk?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </section>

    <section class="movie">
      <img src="{{ object.cover.url }}">
      <ul>
        <li>{{ object.name }}</li>
        <li>{{ object.description|striptags }}</li>
        <li><a href="genre.html">{{ object.get_genres_display }}</a></li>
        <li>
          {% for cast in object.cast.all %}
            <a href="cast.html">{{ cast }}</a>
            {% if not forloop.last %}
              ,
            {% endif %}

          {% empty %}
              No cast yet.
          {% endfor %}
        </li>
        <li>{{ object.view }}</li>
        <li>publisher: {{ object.publisher.get_full_name }}</li>
      </ul>
    </section>
    <section class="links">
      <h3>Links</h3>
      <ul class="dlinks">
        <li><a>Download</a></li>
        <li><a href="{{ object.download_link }}">Link1</a></li>
      </ul>
      <ul class="wlinks">
        <li><a>Watch</a></li>
        <li><a href="{{ object.watch_link }}">Link1</a></li>
      </ul>
    </section>

    <section class="related">
      <h3>Related movies</h3>

      {% for related_movie in related_movies %}

        <div class="relatemovie">
          <a href="#"><img src="{{ related_movie.cover.url }}"></a>
          <a href="#"><span class="relatedname">{{ related_movie.name }}</span></a>
        </div>

      {% endfor %}

    </section>

    <section class="comments">
      <h3>Comments</h3>
    </section>
  </div>
  {% endif %}
{% endblock %}

