{% load auto_navbar %}


<li>
  <a href="{% url 'movie_app:home' %}">Home</a>
</li>

<li>
  <a>Genres</a>
  <ul>
    {% for genre in genres %}
      <li>
        {% if genre.level == 1 %}
          <a href="{% url 'movie_app:genre_list' genre %}">{{ genre|capfirst }}</a>
          {% if genre.genresmodel_set %}
            {% include 'movie_app/nav_genre.html' %}
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</li>

<li>
  <a>Year</a>
  <ul>
    {% for a_year in year %}
      <li>
        <a href="{% url 'movie_app:year_archive' a_year %}">{{ a_year }}</a>
      </li>
    {% endfor %}
  </ul>
</li>

<li>
  <a>Language</a>
  <ul>
    {% for language in languages %}
      <li>
        <a href="{% url 'movie_app:language_list' language %}">{{ language|capfirst }}</a>
      </li>
    {% endfor %}
  </ul>
</li>