<ul>
  {% for genre in genre.genresmodel_set.all %}
    <li>
      <a href="{% url 'movie_app:genre_list' genre %}">{{ genre|capfirst }}</a>
      {% if genre.genresmodel_set %}
        {% include 'movie_app/nav_genre.html' %}
      {% endif %}
    </li>
  {% endfor %}
</ul>