{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <title>login</title>#}
{#</head>#}
{#<body>#}
{##}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <input type="submit" value="ورود">#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}


{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <title>Login V19</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'registration/images/icons/favicon.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css"
        href="{% static 'registration/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/animate/animate.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/css-hamburgers/hamburgers.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/animsition/css/animsition.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/select2/select2.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/daterangepicker/daterangepicker.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <form method="post" class="login100-form validate-form">
        {% csrf_token %}
        <span class="login100-form-title p-b-33">
          صفحه مدیریت وب گاه
        </span>
        <div class="wrap-input100 validate-input" data-validate="پسورد را وارد نمایید">
          {{ form.username|add_class:'input100'|attr:'placeholder:نام کاربری' }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>
        <div class="wrap-input100 rs1 validate-input" data-validate="گذرواژه را وارد نمایید">
          {{ form.password|add_class:'input100'|attr:'placeholder:گذرواژه' }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>
        <div class="container-login100-form-btn m-t-20">
          <button class="login100-form-btn">
            ورود
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'registration/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/js/main.js' %}"></script>

</body>
</html>