/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

body {
    font-family: arial, sans-serif;
    background-color: #191919;
    position: relative;
    height: 100%;
}

.wrapper {
    float: left;
    width: 100%;
    position: relative;
}

.content {
    float: left;
    width: 100%;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.logo {
    float: left;
    margin: 0 20px;
    padding: 0;
}

.logo img {
    float: left;
    max-width: 120px;
    width: 100%;
    padding: 10px 0;
}

.menu {
    float: left;
}

.menu > ul {
    float: left;
    margin: 0 20px;
}

.menu > ul > li {
    list-style: none;
    float: left;
    position: relative;
    cursor: pointer;
}

.menu > ul > li > a {
    float: left;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 15px;
    padding: 15px 5px;
}

.menu > ul > li:hover > a {
    color: #fff;
}

.menu > ul > li:hover ul {
    display: block;
}

.menu > ul > li > ul {
    display: none;
    position: absolute;
    top: 45px;
    background-color: #000;
    width: 200px;
}

.menu > ul > li > ul > li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #2d2d2d;
}

.menu > ul > li > ul > li:last-child {
    border: none;
}

.menu > ul > li > ul > li > a {
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    color: #959595;
    width: calc(100% - 20px);
    font-size: 14px;
}

.menu > ul > li > ul > li:hover a {
    color: #fff;
}

.toggle {
    float: right;
    display: none;
    cursor: pointer;
}

.toggle img {
    max-width: 20px;
    padding: 14px;
}


.search {
    float: left;
    margin: 0 20px;
}

.searchfield {
    float: left;
    width: 200px;
    margin: 10px 0;
    border-bottom: 1px solid transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    padding: 5px 0px;
    background: transparent;
    outline: none;
}

.searchfield:focus {
    border-bottom: 1px solid #a0a0a0;
}

.searchsubmit {
    cursor: pointer;
    float: left;
    background: transparent;
    border: none;
    background-size: 16px;
    background-image: url(../img/search.svg);
    width: 20px;
    height: 20px;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

.mobsearch {
    display: none;
}


/* swiper */

.homeslider > .swiper-container > .swiper-wrapper > .swiper-slide > .caption {
    color: #ffffff;
    z-index: 999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.homeslider > .swiper-container > .swiper-wrapper > .swiper-slide > .caption > .captioninside {
    top: 100px;
    left: 50px;
    position: absolute;
    text-align: left;
    max-width: 40%;
}

.homeslider > .swiper-container > .swiper-wrapper > .swiper-slide > .caption > .captioninside h3 {
    font-size: 22px;
    color: #fff;
    padding: 10px 0;
    display: block;
}

.homeslider > .swiper-container > .swiper-wrapper > .swiper-slide > .caption > .captioninside p {
    left: 50px;
    font-size: 16px;
    color: #fff;
    display: block;
}

.playbutton {
    padding: 10px 20px;
    color: #fff;
    background-color: #C10E0E;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 3px;
}

.homeslider > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.homeslider > .swiper-container > .swiper-pagination > .swiper-pagination-bullet-active {
    background: #fff;
}

.homeslider {
    float: left;
    width: 100%;
}

.homeslider > .swiper-container {
    width: 100%;
    height: 100%;
    max-height: 500px;
    margin: 0px auto;
    position: relative;
}

.homeslider > .swiper-container > .swiper-wrapper > .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.homeslider > .swiper-container > .swiper-wrapper > .swiper-slide > img {
    max-width: 100%;
    width: 100%;
}

.recentlider > .swiper-container {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    position: relative;
}

.nextdirection {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    color: #fff;
    cursor: pointer;
}

.nextdirection img {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
}

.leftdirection {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    color: #fff;
    cursor: pointer;
}

.leftdirection img {
    position: absolute;
    top: calc(50% - 12px);
    left: 7px;
}

.swiper-button-disabled {
    opacity: 0.3;
}

.recentlider > .swiper-container > .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide > a > img {
    max-width: 100%;
}

.panel {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.panel h2 {
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
}

.footer {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    text-align: center;
}

.copyright {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 20px 0;
}

.footermenu {
    float: left;
    width: 100%;
    text-align: center;
}

.footermenu ul {
    float: left;
    width: 100%;
    text-align: center;
}

.footermenu ul li {
    display: inline;
    list-style: none;
    padding: 0 10px;
}

.footermenu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.tags {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0 100px 0;
}

.tags ul {
    float: left;
    width: 100%;
    text-align: center;
}

.tags ul li {
    display: inline;
    list-style: none;
    font-size: 12px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.02);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 0;
}

.hometitle {
    position: absolute;
    bottom: 3px;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    padding: 7px;
    font-size: 14px;
    color: #fff;
}

.single {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    width: calc(100% - 20px);
}

.trailer {
    float: left;
    width: calc(100% - 20px);
    margin: 20px 0;
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.trailer h3 {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 0 10px;
    width: calc(100% - 20px);
}

.trailer_frame {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 35%;
    padding-top: 25px;
    height: 0;
}

.trailer_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie {
    float: left;
    width: calc(100% - 20px);
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.movie img {
    float: left;
}

.movie ul {
    float: left;
    margin: 0 20px;
    width: calc(100% - 590px);
}

.movie ul li {
    float: left;
    display: block;
    clear: both;
    color: #fff;
    padding: 0 0 10px 0;
    line-height: 1.4
}

.movie ul li:first-child {
    font-weight: bold;
    font-size: 22px;
}

.movie ul li a {
    color: #c22026;
    text-decoration: none;
}

.links {
    float: left;
    width: calc(100% - 20px);
    margin: 20px 0;
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.links h3 {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 0 10px;
}

.dlinks, .wlinks {
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
}

.dlinks li, .wlinks li {
    display: inline;
    float: left;
    margin: 0px 10px 5px 0px;
}

.dlinks li a, .wlinks li a {
    float: left;
    padding: 7px 10px;
    background-color: #c22026;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.comments {
    float: left;
    width: calc(100% - 20px);
    margin: 0 0 20px 0;
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.comments h3 {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 0 10px;
}

.related {
    float: left;
    width: calc(100% - 20px);
    margin: 0 0 20px 0;
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.related h3 {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    width: calc(100% - 20px)
}

.relatemovie {
    float: left;
    width: calc(16.6% - 15px);
    margin: 0 5px 10px 10px;
    position: relative;
}

.relatemovie img {
    max-width: 100%;
    width: 100%;
}

.relatedname {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    line-height: 1.4;
    font-size: 14px;
}

.relatemovie a {
    color: #fff;
    text-decoration: none;
}

.centered {
    max-width: 1024px;
    width: 100%;
    margin: 70px auto;
}

.centered h3 {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    width: calc(100% - 20px)
}

.movies {
    float: left;
    width: 100%;
}

.mov {
    float: left;
    width: calc(20% - 20px);
    padding: 10px 10px 0 10px;
    position: relative;
}

.mov img {
    max-width: 100%;
}

.mov:hover img {
    opacity: 0.7;
}

.movietitle {
    position: absolute;
    line-height: 1.3;
    bottom: 0;
    right: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 14px;
}

.pagination {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.pagination ul {
    float: left;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.pagination ul li {
    display: inline;
    list-style: none;
    float: left;
    margin-left: 3px;
    margin-bottom: 3px;
}

.pagination ul li a {
    text-decoration: none;
    float: left;
    padding: 7px 10px;
    background-color: #c22026;
    color: #fff;
}

.menuactive {
    background-color: #6f0004 !important
}

.pagination ul li:hover a {
    background-color: #6f0004;
}

.textcontent {
    float: left;
    width: calc(100% - 20px);
    padding: 0 10px;
}

.textcontent p {
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}


.contact {
    float: left;
    width: calc(100% - 20px);
    padding: 0 10px;
}

#myForm {
    float: left;
    width: 100%;
}

#myForm input[type='text'] {
    float: left;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: #cecece;
}

#myForm textarea {
    float: left;
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    height: 150px;
    outline: none;
    background-color: #cecece;
}

#myForm label {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 10px;
}

#myForm input[type='submit'] {
    float: left;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    border: none;
    background-color: #c22026;
    outline: none;
    cursor: pointer;
}

.success {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    background-color: #8BC34A;
    color: #fff;
    padding: 10px 0;
}

.error {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    background-color: #F44336;
    color: #fff;
    padding: 10px 0;
}

@media all and (max-width: 1024px) {
    .toggle {
        display: block;
    }

    .search {
        display: none;
    }

    .menu {
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        display: none;
    }

    .menu > ul {
        width: 100%;
        margin: 0;
        background-color: #000;
    }

    .menu > ul > li {
        float: left;
        width: 100%;
        border-bottom: 1px solid #252525;
    }

    .menu > ul > li:last-child {
        border: none;
    }

    .menu > ul > li > a {
        padding: 10px;
    }

    .menu > ul > li > ul {
        position: relative;
        top: 0;
        width: 100%;
        background-color: #1f1f1f;
        float: left;
    }

    .menu > ul > li > ul > li > a {
        padding: 10px;
    }

    .mobsearch {
        display: block;
    }

    .mobform {
        float: left;
        width: 100%;
        position: relative;
    }

    .mobsearchfield {
        float: left;
        border: 1px solid #555;
        border-radius: 5px;
        width: calc(100% - 40px);
        margin: 10px;
        padding: 5px 10px;
        background: transparent;
        outline: none;
    }

    .mobsearchfield:focus {
        border-bottom: 1px solid #555;
    }

    .mobsearchsubmit {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 3px;
        background: transparent;
        border: none;
        background-size: 16px;
        background-image: url(../img/search.svg);
        width: 20px;
        height: 20px;
        margin: 10px 0;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
    }

    .nextdirection {
        width: 20px;
    }

    .nextdirection img {
        right: 4px;
        max-width: 15px;
    }

    .leftdirection {
        width: 20px;
    }

    .leftdirection img {
        left: 4px;
        max-width: 15px;
    }

    .movie ul {
        width: calc(100% - 290px);
    }
}

@media all and (max-width: 786px) {
    .mov {
        width: calc(25% - 20px);
    }

    .homeslider > .swiper-container > .swiper-wrapper > .swiper-slide > .caption > .captioninside {
        top: 50px;
        left: 10px;
        max-width: 50%;
    }

    .relatemovie {
        float: left;
        width: calc(33.3% - 15px);
        margin: 0 5px 10px 10px;
        position: relative;
    }
}

@media all and (max-width: 540px) {
    .mov {
        width: calc(33.3% - 10px);
        padding: 10px 5px 0 5px;
    }

    .movietitle {
        right: 5px;
        left: 5px;
    }

    .movie img {
        float: none;
        max-width: 100px;
        width: 100%;
    }

    .movie {
        text-align: center;
    }

    .movie ul {
        float: none;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .movie ul li {
        float: none;
    }
}