<li class="nav-item">
  <a href="{% url reverse_link %}"
     class="nav-link
      {% if request.resolver_match.view_name == reverse_link %}
        active
      {% endif %}"
  >
    <i class="{{ klass }}"></i>
    <p>{{ content }}</p>
  </a>
</li>