{% extends 'account/base.html' %}
{% load account_extras %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">لیست فیلم ها</h3>
        </div>
        <!-- /.card-header -->
      {% if object_list %}

        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>نام</th>
              <th>توضیحات</th>
              <th>پیشنمایش کاور</th>
              <th>نویسنده مطلب</th>
              <th>ژانر</th>
              <th>تاریخ ساخت فیلم</th>
              <th>زبان فیلم</th>
              <th>امتیاز</th>
              <th>وضعیت انتشار</th>
              <th>وضعیت دسترسی طلایی</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
              <tr>
              {% if is_paginated %}
                <td>{% row_num forloop.counter page_obj.number paginator.per_page %}</td>
              {% else %}
                <td>{{ forloop.counter }}</td>
              {% endif %}
              {% if object.publisher == request.user and not object.published or request.user.is_superuser %}
                <td><a href="{% url 'account:update' object.pk %}">{{ object.name }}</a></td>
              {% else %}
                <td>{{ object.name }}</td>
              {% endif %}
                <td>{{ object.description|truncatewords:"3"|safe }}</td>
{#                <td>{{ object.description|truncatewords:"3"|striptags }}</td>#}
                <td><img src="{{ object.cover.url }}" alt="cover" class="img-thumbnail" height="90" width="70"></td>
                <td>{{ object.publisher.get_full_name }}</td>
                <td>{{ object.genres.genres }}</td>
                <td>{{ object.year }}</td>
                <td>{{ object.language }}</td>
                <td>{{ object.rate }}</td>
                <td>{{ object.is_gold_movie }}</td>
                <td>
                  {% if object.published %}
                    <span class="badge badge-pill badge-success">منتشر شده</span>
                    <a href="{% url 'movie_app:movie_detail' object.pk object.slug %}">
                      <span class="badge badge-pill badge-primary">نمایش در سایت</span>
                    </a>
                  {% else %}
                    <span class="badge badge-pill badge-danger">منتشر نشده</span>
                  {% endif %}
                {% if request.user.is_superuser %}
                  <a href="{% url 'account:delete' object.pk %}">
                    <span class="badge text-danger">حذف</span>
                  </a>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% if is_paginated %}
            <ul class="pagination">

            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
              </li>
            {% endif %}

            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                  {{ page_obj.previous_page_number }}
                </a>
              </li>
            {% endif %}

              <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }} <span class="sr-only">(current)</span>
                </a>
              </li>

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                  {{ page_obj.next_page_number }}
                </a>
              </li>
            {% endif %}

              <li class="page-item">
                <a class="page-link" href="?page={{ paginator.num_pages }}">&raquo;</a>
              </li>
            </ul>
          {% endif %}
        </div>
        <!-- /.card-body -->
      {% else %}
        <div class="card-body">
          <h4>محتویی جهت نمایش موجود نیست</h4>
        </div>
      {% endif %}
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}