{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">مثال ساده</h3>
        </div>
        <form method="post" enctype="multipart/form-data" role="form">
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-5">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="col-12 col-md-2">
                {{ form.language|as_crispy_field }}
              </div>
              <div class="col-12 col-md-3">
                {{ form.year|as_crispy_field }}
              </div>
              <div class="col-12 col-md-2">
                {{ form.genres|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {{ form.description|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">
                {{ form.cover|as_crispy_field }}
              </div>
              <div class="col-12 col-md-3">
                {{ form.trailer_link|as_crispy_field }}
              </div>
              <div class="col-12 col-md-3">
                {{ form.download_link|as_crispy_field }}
              </div>
              <div class="col-12 col-md-3">
                {{ form.watch_link|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">
                {{ form.slider_pic|as_crispy_field }}
              </div>
              <div class="col-12 col-md-2">
                {{ form.view|as_crispy_field }}
              </div>
              <div class="col-12 col-md-1">
                {{ form.rate|as_crispy_field }}
              </div>
              <div class="col-12 col-md-2">
                {{ form.cast|as_crispy_field }}
              </div>

              {% if request.user.is_superuser %}
                <div class="col-12 col-md-2">
                  {{ form.publisher|as_crispy_field }}
                </div>
                <div class="col-12 col-md-2">
                  {{ form.published|as_crispy_field }}
                </div>
              {% elif request.user.is_author %}
              {% endif %}
              <div class="col-12 col-md-2">
                {{ form.is_gold_movie|as_crispy_field }}
              </div>

            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">ارسال</button>
            {% if request.resolver_match.kwargs.pk %}
              <a href="{% url 'account:delete' request.resolver_match.kwargs.pk %}"
                 class="btn btn-danger"
              >
                حذف
              </a>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
