{% extends 'account/base.html' %}



{% block title %}{% block meta_title %}
  پنل حذف
{% endblock meta_title %}{% endblock title %}


{% block content %}
  <div class="row">
    <div class="col-8 text-center mx-auto">
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">حذف فیلم</h3>
        </div>
        <div class="card-body py-3">
          <form method="post">
            {% csrf_token %}
            <p class="py-2">ایا از حذف فیلم {{ object.name }} که توسط {{ object.publisher.get_full_name }} وارد شده مطمئن هستید؟</p>
            <input type="submit" value="حذف" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
