{% extends 'account/base.html' %}
{% load crispy_forms_tags %}


{% block title %}{% block meta_title %}
پروفایل
{% endblock %}{% endblock %}


{% block content %}
  <div class="row">
    <div class="col">
        <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">اطلاعات پروفایل کاربری</h3>
        </div>
        <form method="post" enctype="multipart/form-data" role="form">
          {% csrf_token %}
          <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="col-12 col-md-4">
            {{ form.first_name|as_crispy_field }}
          </div>
          <div class="col-12 col-md-4">
            {{ form.last_name|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            {{ form.gold_user|as_crispy_field }}
          </div>
          <div class="col-12 col-md-4">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="col-12 col-md-4 p-t-5">
            {{ form.is_author|as_crispy_field }}
          </div>
        </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-success">به روزرسانی</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
